amqp==5.2.0
asgiref==3.7.2
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.3.6
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
dj-database-url==2.1.0
dj-rest-auth==6.0.0
Django==4.2.6
django-allauth==0.62.1
django-bootstrap-v5==1.0.11
django-bootstrap5==24.2
django-cors-headers==4.3.1
django-debug-toolbar==4.2.0
django-filter==23.5
django-heroku==0.3.1
django-rosetta==0.10.0
django-taggit==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
docopt==0.6.2
Faker==19.10.0
gunicorn==21.2.0
idna==3.6
install==1.3.5
kombu==5.3.4
Markdown==3.5.2
num2words==0.5.13
packaging==23.2
pi==0.1.2
Pillow==10.0.1
polib==1.2.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
PyJWT==2.8.0
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2023.3.post1
qrcode==7.4.2
redis==5.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.3
Unidecode==1.3.8
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.6.0
